<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">Codulator.io</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <a href="#/add" class="btn btn-default navbar-btn navbar-right">Add repo</a>
    </div>
</nav>

<div class="list-group repo-list">
    <section data-ng-repeat="repo in repos" class="list-group-item">
        <h1 class="list-group-item-heading">{{repo.name}}<a href="#/repo/{{$index}}" class="glyphicon glyphicon-circle-arrow-right"></a></h1>
        <p data-ng-show="repo.description" class="list-group-item-text">{{repo.description}}</p>
        <p class="list-group-item-text">Repository url - {{repo.url}}</p>
    </section>
</div>